@Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView })
@Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })

@model _360Accounting.Web.Models.WithholdingListModel

@{
    ViewBag.Title = "Withholdings";
}

<div class="container">
    <div class="clearfix">
        <div class="col-lg-12">
            <h3 class="page-header">
                @ViewBag.Title
            </h3>
        </div>
    </div>

    <div class="col-md-4">
        @Html.LabelFor(m => m.CodeCombinition)
        <div class="form-group input-group">
            @Html.HiddenFor(m => m.CodeCombinitionId)
            @Html.TextBoxFor(m => m.CodeCombinationString, new { @class = "form-control AccountLookup", @readonly = "readonly", @placeholder = "Click to get account" })
            <span class="input-group-addon"><a href="#" class="AccountLookup" tabindex="-1" id="CodeCombinationString"><i class="fa fa-search"></i></a></span>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group customDropDownWrapper">
            @Html.LabelFor(m => m.Vendor)
            @Html.DropDownListFor(m => m.VendorId, Model.Vendor, new { @class = "form-control" })
        </div>
    </div>

    <div class="clearfix">
        <div id="dvList" class="col-lg-12 cusGridWrapper">
            @Html.Action("CreatePartial")
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#CodeCombinitionId, #VendorId').change(function () {
            $('#dvList').html("Please wait..");
            $.ajax({
                url: '@Url.Content("~/Withholding/GetWithholdings")',
                data: {
                    codeCombinitionId: $('#CodeCombinitionId').val(),
                    vendorId: $('#VendorId').val()
                },
                datatype: 'html',
                type: 'post',
                error: function (data) { alert(data); },
                success: function (data) {
                    $('#dvList').empty();
                    $('#dvList').html(data);
                }
            });
        });

        //$.noConflict();
    });
</script>