@model DevEx_360Accounting_Web.Models.CalendarListModel

@{
    if (Model.Calendars != null)
    {
        if (Model.Calendars.Count() > 0)
        {
            var grid = new WebGrid(canSort: true,
                rowsPerPage: 20,
                ajaxUpdateContainerId: "dvCalendarList",
                ajaxUpdateCallback: "CallBack");

            if (Model.Page == null) { grid.PageIndex = 0; }
            else { grid.PageIndex = Model.Page.Value - 1; }

            grid.Bind(Model.Calendars, rowCount: Model.TotalRecords,
                autoSortAndPage: false);

            <div class="col-sm-offset-10">
                @{ var startrow = (grid.RowsPerPage * grid.PageIndex) + 1;}
                @{ var endrow = (startrow + grid.Rows.Count - 1);}
                Displaying: <b>@startrow - @endrow</b>
                <br />
                TotalRecords <b>@grid.TotalRowCount</b>
            </div>

            @grid.GetHtml(tableStyle: "table table-bordered table-hover table-striped",
            mode: WebGridPagerModes.All, numericLinksCount: 10,
            htmlAttributes: new { style = "width:100%", @class = "table", id = "tblCalendars" },
            columns: grid.Columns
            (
            grid.Column("", header: "Actions", style: "ActionLink",
            format: (item) => Html.Raw("<a class = 'delete' href='" +
                @Url.Content("~/Calendar/Delete/") + item.Id +
                "'><img src='" + @Url.Content("~/Content/images/delete.png") +
                "' alt='' title='Delete' style='border:0'/></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href='" +
                @Url.Content("~/Calendar/Edit/") + item.Id +
                "'><img src='" + @Url.Content("~/Content/images/edit.png") +
                     "' alt='' title='Edit' style='border:0'/></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href='" +
                     @Url.Content("~/Calendar/ChangeStatus/") + item.Id +
                     "'><img src='" + @Url.Content("~/Content/images/open.jpg") +
                     "' alt='' title='Change Status' style='border:0'/></a>")),
                grid.Column(columnName: "PeriodName",
                header: "Period Name",
                canSort: true),
                grid.Column(columnName: "PeriodYear",
                header: "Year",
                canSort: true),
                grid.Column(columnName: "PeriodQuarter",
                header: "Quarter",
                canSort: false),
                grid.Column(columnName: "SeqNumber",
                header: "Number",
                canSort: false),
                grid.Column(columnName: "StartDate",
                header: "From",
                canSort: true),
                grid.Column(columnName: "EndDate",
                header: "To",
                canSort: true),
                grid.Column(columnName: "Adjusting",
                header: "Adjusting",
                canSort: false)
            ))
        }
        else
        {
            <div id='dvNoRecord'>No Record Found!</div>
        }
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.delete').click(function () {
            return confirm("Sure! you wanted to delete ?");
        });
    });

    function CallBack(context) {
        $("#dvCalendarList")[0].innerHTML = context;
    }
</script>