@model DevEx_360Accounting_Web.Models.CompanyListModel

@{
    ViewBag.Title = "Companies";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            @ViewBag.Title
        </h3>
    </div>
</div>
<div class="col-lg-12">
    <div class="form-group">
        <input type="button" value="Create New" class="btn btn-default" id="btnNew" />
    </div>
</div>

    @{
        if (Model.Companies != null)
        {
            if (Model.Companies.Count() > 0)
            {
                var grid = new WebGrid(canSort: true,
                    rowsPerPage: _360Accounting.Common.Utility.Configuration.GridRows);
                grid.Bind(Model.Companies);

                @grid.GetHtml(tableStyle: "table table-bordered table-hover table-striped",
                        mode: WebGridPagerModes.All,
                        numericLinksCount: 10,
                        htmlAttributes: new { style = "width:100%" },
                        columns: grid.Columns
                        (
                        grid.Column("", header: "Actions", style: "ActionLink",
                                                    format: (item) => Html.Raw("<a class = 'delete' href='" + @Url.Content("~/Company/Delete/") + item.Id + "'><img src='" + @Url.Content("~/Content/images/delete.png") + "' alt='' title='Delete' style='border:0'/></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href='" + @Url.Content("~/Company/Edit/") + item.Id + "'><img src='" + @Url.Content("~/Content/images/edit.png") + "' alt='' title='Edit' style='border:0'/></a>")),
                        grid.Column(columnName: "Id",
                                        header: "Company Id",
                                        canSort: true),
                        grid.Column("Name", header: "Company Name", canSort: true)))
            }
        }
    }
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnNew').click(function () {
            window.location.href = '@Url.Content("~/Company/Create")';
        });

        $('.delete').click(function () {
            return confirm("Sure! you wanted to delete ?");
        });
    });
</script>
