@if (DevEx_360Accounting_Web.AuthenticationHelper.MenuItems == null)
{
    FormsAuthentication.SignOut();
    Session.Abandon();
    Response.Redirect("~/User/Login");
}

<ul class="nav navbar-nav">
    @if (DevEx_360Accounting_Web.AuthenticationHelper.MenuItems != null)
    {
        @ShowMenu(DevEx_360Accounting_Web.AuthenticationHelper.MenuItems);
    }
    @helper ShowMenu(IEnumerable<DevEx_360Accounting_Web.Models.FeatureViewModel> items)
{
    foreach (var item in items)
    {
        <li>
            @if (item.Features == null || item.Features.Count == 0)
            {
                <a href='@Url.Content(item.Href)'>@item.Name</a>
            }
            else
            {
                <a href="#">@item.Name <i class="caret"></i></a>
                <ul class=" dropdown-menu">
                    @ShowMenu(item.Features)
                </ul>
            }
        </li>
    }
}
</ul>
