@model _360Accounting.Web.Models.CurrencyViewModel

@{
    ViewBag.Title = "Create Currency";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @ViewBag.Title
        </h1>
    </div>
</div>

<div class="col-lg-6">
    @using (Html.BeginForm("Create", "Currency",
    FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.SOBId)
        @Html.HiddenFor(m => m.CompanyId)

        <div class="form-group">
            @Html.LabelFor(m => m.CurrencyCode)
            @Html.TextBoxFor(m => m.CurrencyCode, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
        
        <div class="form-group">
            @Html.LabelFor(m => m.Precision)
            @Html.DropDownListFor(m => m.Precision, Model.PrecisionList, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" />
            <input type="button" value="Cancel" class="btn btn-default" id="btnCancel" />
        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")

        <script type="text/javascript">
            $(document).ready(function () {
                $('#btnCancel').click(function () {
                    window.location.href = '@Url.Content("~/Currency/Index")';
                });
            });
        </script>
    }
    }
</div>