@{Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView, Theme = "Office2010Black" },
                new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "Office2010Black" },
                new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "Office2010Black" });
                @Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })
}

@model _360Accounting.Web.Models.SetOfBookListModel

@{
    ViewBag.Title = "Set Of Books";
}

<div class="container">
    <div class="clearfix">
        <div class="col-lg-12">
            <h3 class="page-header">
                @ViewBag.Title
            </h3>
        </div>
    </div>
    <div class="clearfix">
        <div class="form-group col-lg-12 ">
            <input type="button" value="Create New" class="btn btn-default tstyCus-btn" id="btnNew" />
        </div>

        @if (ViewBag.ErrorMessage != "")
        {
            <div class="form-group col-lg-12">
                @ViewBag.ErrorMessage
            </div>
        }
        <div class="col-lg-12 cusGridWrapper">
            @Html.Action("SetOfBookPartial")
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnNew').click(function () {
            window.location.href = '@Url.Content("~/SetOfBook/Create")';
        });

        $('.deleteQuestion').click(function () {
            return confirm("Sure! you wanted to delete ?");
        });
    });
</script>
