@Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })
@model _360Accounting.Web.Models.PaymentListViewModel

@{
    ViewBag.Title = "Payment";
}

<div class="container">
    <div class="clearfix">
        <div class="col-lg-12">
            <h3 class="page-header">
                @ViewBag.Title
            </h3>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="form-group">
            @Html.LabelFor(m => m.Period)
            @Html.DropDownListFor(m => m.PeriodId, Model.Period, new { @class = "form-control criteria" })
        </div>
    </div>

    <div class="col-lg-3">
        <div class="form-group">
            @Html.LabelFor(m => m.Bank)
            @Html.DropDownListFor(m => m.BankId, Model.Bank, new { @class = "form-control criteria" })
        </div>
    </div>

    <div class="col-lg-3">
        <div class="form-group">
            @Html.LabelFor(m => m.Vendor)
            @Html.DropDownListFor(m => m.VendorId, Model.Vendor, new { @class = "form-control criteria" })
        </div>
    </div>

    <div class="col-lg-12">
        <div class="form-group">
            <input type="button" id="btnCreate" value="Create New" class="btn btn-default tstyCus-btn" />
        </div>
    </div>
    @if (ViewBag.ErrorMessage != "")
    {
        <div class="form-group col-lg-12">
            @ViewBag.ErrorMessage
        </div>
    }
    <div id="dvList" class="col-lg-12 cusGridWrapper">
        @Html.Action("PaymentPartial", Model)
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnCreate').click(function () {
            var continueCreate = true;

            var inValidInputs = $('#PeriodId, #BankId, #VendorId').filter(function () { return $(this).val() == null; });
            inValidInputs.each(function (index, item) {
                $('#' + item.id).css('border', '1px solid #ff6600');
                continueCreate = false;
            })

            if (continueCreate) {
                var url = '@Url.Content("~/Payment/Create?periodId=")' + $('#PeriodId').val() +
                    "&vendorId=" + $('#VendorId').val() +
                    "&bankId=" + $('#BankId').val();
                window.location.href = url;
            }
            else
                alert('Please select the values.');
        });

        jQuery.ajaxSetup({ async: false });

        function RefreshGrid() {
            var url3 = '@Url.Content("~/Payment/PaymentPartial")';

            var model = {
                BankId: $('#BankId').val(),
                PeriodId: $('#PeriodId').val(),
                VendorId: $('#VendorId').val()
            };

            $.get(url3, model,
                function (data) {
                    $('#dvList').html(data);
                });
        }

        $('#BankId, #VendorId').change(function () {
            RefreshGrid();
        });

        $('#PeriodId').change(function () {
            var url1 = '@Url.Content("~/Payment/VendorList")';

            $.get(url1, { },
                function (data) {
                    var vendorDropdown = $('#VendorId');
                    vendorDropdown.empty();
                    for (var i = 0; i < data.length; i++) {
                        vendorDropdown.append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                    }
                });

            RefreshGrid();
        });
    });
</script>