@Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })

@model _360Accounting.Web.Models.AccountValueListModel
@{
    ViewBag.Title = "Account Values";
}

<div class="container">
    <div class="clearfix">
        <div class="col-lg-12">
            <h3 class="page-header">
                @ViewBag.Title
            </h3>
        </div>
    </div>
    <div class="clearfix">
        <div class="col-lg-12">
            <input type="button" value="Back" title="Account" onclick="window.location = '@Url.Content("~/Account")'" />
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group customDropDownWrapper">
            @Html.LabelFor(m => m.Segments)
            @Html.DropDownListFor(m => m.Segment, Model.Segments, new { @class = "form-control" })
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group">
            <input type="button" id="btnCreate" value="Create New" class="btn btn-default tstyCus-btn" />
        </div>
    </div>
    <div class="col-lg-12 cusGridWrapper" id="ACPartial">
        @Html.Action("AccountValuesPartial", new { segment = Model.Segment })
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $.noConflict();
        $('#dvDefaultSOB').dialog({
            modal: true,
            title: "Please select your Set of Book",
            autoOpen: false,
            height: 'auto',
            width: 500,
            height: 300,
            zIndex: zind,
        });
    });

    $(document).ready(function () {
        $('#btnCreate').click(function () {
            var url = '@Url.Content("~/AccountValue/Create?segment=")' + $('#Segment').val();
            window.location.href = url;
        });

        $('#Segment').change(
            function () {
                var url = '@Url.Content("~/AccountValue/SegmentList")';

                $.ajax({
                    url: '@Url.Content("~/AccountValue/AccountValuesPartial")',
                    data: {
                        segment: $(this).val()
                    },
                    datatype: 'html',
                    type: 'post',
                    error: function (data) { },
                    success: function (data) {
                        $('#ACPartial').empty().html(data);
                    }
                });
            });
    });
</script>

