@Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })

@model List<_360Accounting.Web.Models.CustomerSiteViewModel>

@{
    ViewBag.Title = "Customer Sites";
}

<div class="container">
    <div class="clearfix">
        <div class="col-lg-12">
            <h3 class="page-header">
                @ViewBag.Title (@ViewBag.CustomerName)
            </h3>
        </div>
    </div>
    <div class="clearfix">

    </div>
    <div class="clearfix">
        <div class="form-group col-lg-12 ">
            <input type="button" value="Create New" class="navbar-left btn btn-default tstyCus-btn" id="btnNew" />
            <input type="button" class="navbar-right btn btn-default tstyCus-btn" value="Back" title="Customer" onclick="window.location = '@Url.Content("~/Customer")'" />
        </div>
        @if (ViewBag.ErrorMessage != "")
        {
            <div class="form-group col-lg-12">
                @ViewBag.ErrorMessage
            </div>
        }
        <div class="col-lg-12 cusGridWrapper">
            @Html.Partial("_List", Model)
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnNew').click(function () {
            window.location.href = '@Url.Content("~/CustomerSite/Edit?customerId=")' + '@ViewBag.CustomerId';
        });
    });
</script>