@model DevEx_360Accounting_Web.Models.UserCreateModel

@{
    ViewBag.Title = "Create User";
}

<div class="container">
    <div class="clearfix">
        <div class="col-lg-12">
            <h3 class="page-header">
                @ViewBag.Title
            </h3>
        </div>
    </div>
    <div class="clearfix">
        <div class="col-lg-6">
            @using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
                @Html.ValidationSummary()

                <div class="form-group">
                    @Html.LabelFor(model => model.RoleName)
                    @Html.DropDownListFor(model => model.RoleName, Model.RoleList, "-- select --", new { @class = "form-control" })
                </div>

            if (DevEx_360Accounting_Web.AuthenticationHelper.UserRole == _360Accounting.Common.UserRoles.SuperAdmin.ToString())
            {
                <div class="form-group" id="dvCompany">
                    @Html.LabelFor(model => model.CompanyId)
                    @Html.DropDownListFor(model => model.CompanyId, Model.CompanyList, "-- select --", new { @class = "form-control" })
                </div>
            }
            <div class="form-group">
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
            </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName)
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.LastName)
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber)
                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default tstyCus-btn" />
                    <input type="button" value="Cancel" class="btn btn-default tstyCus-btn" onclick="javascript: window.location.href='@Url.Content("~/User/Index")'" />
                </div>
                
            @section Scripts {
                @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")

                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#RoleName').change(function () {
                            if ($('#RoleName').val() == "SuperAdmin")
                            {
                                $('#dvCompany').hide();
                            }
                            else
                            {
                                $('#dvCompany').show();
                            }
                        });
                    });
                </script>
            }
        }
        </div>
    </div>
</div>