@model DevEx_360Accounting_Web.Models.LoginViewModel

@{
    Layout = null;
    ViewBag.Title = "360 Accounting - Login";
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    <link href='@Url.Content("~/Content/bootstrap.min.css")' rel="stylesheet">

    <!-- Custom CSS -->
    <link href='@Url.Content("~/Content/style.css")' rel="stylesheet">

    <!-- Custom Fonts -->
    <link href='@Url.Content("~/font-awesome/css/font-awesome.min.css")' rel="stylesheet" type="text/css">

    <link href='@Url.Content("~/Content/bootstrap-multiselect.css")' rel="stylesheet" type="text/css">

    <link href='@Url.Content("~/Content/awesome-bootstrap-checkbox.css")' rel="stylesheet" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>
<body>
    <div id="wrapper" class="LoginPageWrapper height100p">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="img-responsive" src='@Url.Content("~/Content/images/logo.png")' alt="" />
        </div>
    </nav>

    <div id="page-wrapper">
        @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="container-fluid height100p">
                <div class="acc-loginMainWrap height100p">
                    <div class="acc-loginInnerWrap">
                        <form name="loginForm" class="">
                            <div class="login-fields clearfix">
                                <img class="img-responsive cusBigLogo" src='@Url.Content("~/Content/images/big-logo.png")' alt="" />
                                <div class="form-group input-group">
                                    <span class="input-group-addon">@Html.Raw("@")</span>
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Username" })
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">@Html.Raw("@")</span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                </div>
                                <button type="submit" class="btn btn-default login-btn pull-right">Log In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        }
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->
    </div>

</body>
</html>
