@model DevEx_360Accounting_Web.Models.AuditTrialCriteriaModel

@{
    ViewBag.Title = "Audit Trial";
}

<div class="container">

    <div class="clearfix">
        <div class="col-lg-12">
            <h3 class="page-header">
                @ViewBag.Title
            </h3>
        </div>
    </div>

    <div class="clearfix">
        <div class="col-lg-6">
            <div class="form-group">
                @Html.LabelFor(m => m.SOBId)
                @Html.DropDownListFor(m => m.SOBId, Model.SetOfBooks, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.FromDate)
                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ToDate)
                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <input type="submit" value="Show" id="btnShow" class="btn btn-default" />
                <input type="button" value="Cancel" class="btn btn-default" onclick="javascript: window.location.href='@Url.Content("~/Home/Index")'" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnShow').click(function () {
            var url = '@Url.Content("~/JournalVoucher/AuditTrialReport?sobId=")' +
                $('#SOBId').val() +
                "&fromDate=" + $('#FromDate').val() +
                "&toDate=" + $('#ToDate').val();
            window.location.href = url;
        });
    });
</script>