@model DevEx_360Accounting_Web.Models.JournalVoucherCreateModel

@{
    ViewBag.Title = "Journal Voucher";
}

<script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<div class="container">
    <div class="clearfix">
        <div class="col-lg-12">
            <h3 class="page-header">
                @ViewBag.Title
            </h3>
        </div>
    </div>

    @using (Html.BeginForm("Edit", "JournalVoucher",
FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.HeaderId)
        @Html.HiddenFor(m => m.SOBId)
        @Html.HiddenFor(m => m.PeriodId)
        @Html.HiddenFor(m => m.CurrencyId)

        <div class="col-lg-3">
            <div class="form-group">
                @Html.LabelFor(m => m.JournalName)
                @Html.TextBoxFor(m => m.JournalName, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                @Html.LabelFor(m => m.SOBName)
                @Html.TextBoxFor(m => m.SOBName, new { @readonly = "readonly", @class = "form-control" })
            </div>
            </div>

        <div class="col-lg-3">
            <div class="form-group">
                @Html.LabelFor(m => m.PeriodName)
                @Html.TextBoxFor(m => m.PeriodName, new { @readonly = "readonly", @class = "form-control" })
            </div>
            </div>
        <div class="col-lg-3">
            <div class="form-group">
                @Html.LabelFor(m => m.CurrencyName)
                @Html.TextBoxFor(m => m.CurrencyName, new { @readonly = "readonly", @class = "form-control" })
            </div>
            </div>
        <div class="col-lg-3">
            <div class="form-group">
                @Html.LabelFor(m => m.DocumentNo)
                @Html.TextBoxFor(m => m.DocumentNo, new { @class = "form-control" })
            </div>
            </div>

        <div class="col-lg-3">
            <div class="form-group">
                @Html.LabelFor(m => m.GLDate)
                @Html.TextBoxFor(m => m.GLDate, new { @class = "form-control" })
            </div>
            </div>

        <div class="col-lg-3">
            <div class="form-group">
                @Html.LabelFor(m => m.ConversionRate)
                @Html.TextBoxFor(m => m.ConversionRate, new { @class = "form-control" })
            </div>
            </div>

        <div class="col-lg-11">
            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-lg-12">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.CodeCombinationId)
                    @Html.DropDownListFor(m => m.CodeCombinationId, Model.CodeCombinationList, new { @class = "form-control" })
                </div>
                </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.GLLinesDescription)
                    @Html.TextBoxFor(m => m.GLLinesDescription, new { @class = "form-control" })
                </div>
                </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.EnteredDr)
                    @Html.TextBoxFor(m => m.EnteredDr, new { @class = "form-control" })
                </div>
                </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.AccountedDr)
                    @Html.TextBoxFor(m => m.AccountedDr, new { @class = "form-control" })
                </div>
                </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.EnteredCr)
                    @Html.TextBoxFor(m => m.EnteredCr, new { @class = "form-control" })
                </div>
                </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.AccountedCr)
                    @Html.TextBoxFor(m => m.AccountedCr, new { @class = "form-control" })
                </div>
                </div>
        </div>
        <div class="col-lg-12">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.Qty)
                    @Html.TextBoxFor(m => m.Qty, new { @class = "form-control" })
                </div>
                </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.TaxRateCode)
                    @Html.TextBoxFor(m => m.TaxRateCode, new { @class = "form-control" })
                </div>
                </div>
        </div>

        <div class="col-lg-12">
            <div class="col-lg-6">
                <br />
                <input type="submit" value="Add" class="btn btn-default tstyCus-btn" name="submit" />
                <input type="submit" value="Save" class="btn btn-default tstyCus-btn" name="submit" />
                <input type="button" value="Cancel" class="btn btn-default tstyCus-btn" onclick="javascript: window.location.href='@Url.Content("~/JournalVoucher")'" />
            </div>
            <div class="col-lg-12">
                <br />
                @if (DevEx_360Accounting_Web.SessionHelper.JournalVoucher.JournalVoucherDetail != null)
                {
                    @Html.Partial("_JournalVoucherDetailList", DevEx_360Accounting_Web.SessionHelper.JournalVoucher.JournalVoucherDetail)
                }
            </div>
        </div>
    }
</div>