@model _360Accounting.Web.Models.CompanyModel

@{
    ViewBag.Title = "Edit";
}

<h2>Company</h2>


@using (Html.BeginForm("Edit", "Company", FormMethod.Post,
    new { @class = "form-horizontal", role = "form" }))
{
    <h4>Edit Company</h4>
    <hr />
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.Id)
    
    <div class="form-group">
        <div class="col-md-2">
            @Html.LabelFor(model => model.Name)
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}