@Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView })
@Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })

@model _360Accounting.Web.Models.InvoiceModel

@{
    ViewBag.Title = "Customer Invoice";
}

<div class="container">
    <div class="clearfix">
        <div class="col-lg-12">
            <h3 class="page-header">
                @ViewBag.Title
            </h3>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.SOBId)
        @Html.HiddenFor(model => model.CompanyId)
        @Html.HiddenFor(m => m.CreateBy)
        @Html.HiddenFor(m => m.CreateDate)
        @Html.HiddenFor(m => m.UpdateBy)
        @Html.HiddenFor(m => m.UpdateDate)

        <div class="row">
            <div class="col-lg-12">
                <div class="navbar-right">
                    <input type="button" value="Save" id="btnSave" class="btn btn-default tstyCus-btn" />
                    <input type="button" value="Cancel" id="btnCancel" class="btn btn-default tstyCus-btn" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.InvoiceNo)
                    @Html.TextBoxFor(model => model.InvoiceNo, new { @readonly = "readonly", @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group customDropDownWrapper">
                    @Html.LabelFor(model => model.InvoiceType)
                    @Html.DropDownListFor(model => model.InvoiceType, Model.InvoiceTypes, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.PeriodId)
                    @Html.DropDownListFor(model => model.PeriodId, Model.Periods, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.CurrencyId)
                    @Html.DropDownListFor(model => model.CurrencyId, Model.Currencies, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.InvoiceDate)
                    @Html.EditorFor(model => model.InvoiceDate)
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.ConversionRate)
                    @Html.TextBoxFor(model => model.ConversionRate, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group customDropDownWrapper">
                    @Html.LabelFor(model => model.CustomerId)
                    @Html.DropDownListFor(model => model.CustomerId, Model.Customers, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group customDropDownWrapper">
                    @Html.LabelFor(model => model.CustomerSiteId)
                    @Html.DropDownListFor(model => model.CustomerSiteId, Model.CustomerSites, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Remarks)
                    @Html.TextBoxFor(model => model.Remarks, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_Detail", Model.InvoiceDetail)
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#InvoiceDate').attr('class', 'form-control');
        
        $('#InvoiceDate').blur(function () {
            $.ajax({
                url: '@Url.Content("~/Invoice/CheckDate")',
                data: { invoiceDate: $(this).val(), periodId: $('#PeriodId').val(), customerId: $('#CustomerId').val(), customerSiteId: $('#CustomerSiteId').val() },
                type: 'post',
                datatype: 'json',
                success: function (data)
                {
                    if (data)
                        $('#btnSave').attr('disabled', false);
                    else
                    {
                        alert('Date must lie in the range of current period, Customer & Customer Site.');
                        $('#InvoiceDate').focus();
                        $('#btnSave').attr('disabled', true);
                    }
                },
                error: function () { }
            })
        })

        function GetCustomerSites(customerId)
        {
            var url = '@Url.Content("~/Invoice/CustomerSiteList")';
            $.get(url, { customerId: customerId },
                function (data) {
                    var customerSiteDropdown = $('#CustomerSiteId');
                    customerSiteDropdown.empty();
                    for (var i = 0; i < data.length; i++) {
                        customerSiteDropdown.append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                    }
                });
        }

        $('#CustomerId').change(function () {
            GetCustomerSites($(this).val())
        });

        $('#btnCancel').click(function () {
            if (confirm('Do you want to leave this page?')) {
                window.location.href = '@Url.Content("~/Invoice")';
            }
        });

        $('#PeriodId').change(function () {
            $.ajax({
                url: '@Url.Content("~/Invoice/AddCalendarinSession")',
                data: { periodId: $(this).val() },
                type: 'post',
                datatype: 'json',
                success: function (data) { },
                error: function () { }
            });

            $.get('@Url.Content("~/Invoice/CustomerList")', { },
                function (data) {
                    var customerSiteDropdown = $('#CustomerSiteId')
                    var customerDropdown = $('#CustomerId');
                    customerDropdown.empty();
                    customerSiteDropdown.empty();
                    if (data.length > 0)
                    {
                        for (var i = 0; i < data.length; i++) {
                            customerDropdown.append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                        }
                        GetCustomerSites(data[0].Value)
                    }
                });
        });

        $('#btnSave').click(function () {

            var invoiceType = $('#InvoiceType').val();
            var invoiceDate = $('#InvoiceDate').val();
            var conversionRate = $('#ConversionRate').val();
            var Remarks = $('#Remarks').val();
            var customerId = $('#CustomerId').val();
            var customerSiteId = $('#CustomerSiteId').val();
            var periodId = $('#PeriodId').val();
            var currencyId = $('#CurrencyId').val();
            
            var url = '@Url.Content("~/Invoice/SaveInvoice")';
            $.post(url, {
                invoiceType: invoiceType, invoiceDate: invoiceDate,
                conversionRate: conversionRate, Remarks: Remarks,
                customerId: customerId, customerSiteId: customerSiteId, periodId: periodId, currencyId:currencyId
            },
                function (result) {
                    if (result.success) {
                        alert(result.message);
                        window.location.href = '@Url.Content("~/Invoice")';
                    }
                    else
                        alert(result.message);
                });
        });
    });
</script>