@Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })

@model _360Accounting.Web.Models.InvoiceListModel

@{
    ViewBag.Title = "Customer Invoice";
}

<div class="container">
    <div class="clearfix">
        <div class="col-lg-12">
            <h3 class="page-header">
                @ViewBag.Title
            </h3>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            @Html.LabelFor(m => m.SetOfBooks)
            @Html.DropDownListFor(m => m.SOBId, Model.SetOfBooks, new { @class = "form-control criteria" })
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            @Html.LabelFor(m => m.Periods)
            @Html.DropDownListFor(m => m.PeriodId, Model.Periods, new { @class = "form-control criteria" })
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group">
            @Html.LabelFor(m => m.Currencies)
            @Html.DropDownListFor(m => m.CurrencyId, Model.Currencies, new { @class = "form-control criteria" })
        </div>
    </div>

    <div class="col-lg-12">
        <div class="form-group">
            <input type="button" id="btnCreate" value="Create New" class="btn btn-default tstyCus-btn" />
        </div>
    </div>

    <div id="dvList" class="col-lg-12 cusGridWrapper">
        @Html.Action("InvoicePartialWithModel", Model)                                                                                  @*//Make AR*@
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        jQuery.ajaxSetup({ async: false });

        function RefreshGrid() {
            var url3 = '@Url.Content("~/Invoice/InvoicePartial")';                                                                      //Make AR

            $.get(url3, { sobId: $('#SOBId').val(), periodId: $('#PeriodId').val(), currencyId: $('#CurrencyId').val() },
                function (data) {
                    $('#dvList').html(data);
                });
        }

        $('#PeriodId, #CurrencyId').change(function () {
            RefreshGrid();
        });

        $('#SOBId').change(function () {
            var url1 = '@Url.Content("~/Invoice/PeriodList")';                                                                          //Make AR
            var url2 = '@Url.Content("~/Invoice/CurrencyList")';                                                                        //Make AR

            $.get(url1, { sobId: $(this).val() },
                function (data) {
                    var periodDropdown = $('#PeriodId');
                    periodDropdown.empty();
                    for (var i = 0; i < data.length; i++) {
                        periodDropdown.append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                    }
                });

            $.get(url2, { sobId: $(this).val() },
                function (data) {
                    var currencyDropdown = $('#CurrencyId');
                    currencyDropdown.empty();
                    for (var i = 0; i < data.length; i++) {
                        currencyDropdown.append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                    }
                });

            RefreshGrid();
        });

        $('#btnCreate').click(function () {
            var continueCreate = true;

            var inValidInputs = $('#SOBId, #PeriodId, #CurrencyId').filter(function () { return $(this).val() == null; });
            inValidInputs.each(function (index, item) {
                $('#' + item.id).css('border', '1px solid #ff6600');
                continueCreate = false;
            })

            if (continueCreate) {
                var url = '@Url.Content("~/Invoice/Create?sobId=")' +                                                                   //Make AR
                    $('#SOBId').val() +
                    "&periodId=" + $('#PeriodId').val() +
                    "&currencyId=" + $('#CurrencyId').val()
                window.location.href = url;
            }
            else
                alert('Please select the values.');
        });
    });
</script>