@model _360Accounting.Web.Models.CodeCombinitionCreateViewModel

@{
    ViewBag.Title = "Account Combination";
}


@Html.ValidationSummary()
@Html.HiddenFor(m => m.SOBId)
@Html.HiddenFor(m => m.CompanyId)
@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.CreateBy)
@Html.HiddenFor(m => m.CreateDate)

@{ int count = 0; }
<div class="col-lg-6">
    @foreach (var item in Model.SegmentList)
    {
        count++;
        string comboName = "Combo_" + count.ToString();
        <div class="form-group">
            @item.SegmentName
            @Html.DropDownList(comboName, item.SegmentValueList, new { @class = "form-control" })
        </div>
    }
</div>

<div class="col-lg-5">
    <div class="form-group">
        @Html.LabelFor(m => m.StartDate)
        @Html.EditorFor(m => m.StartDate, new { @class = "form-control" })
    </div>
</div>

<div class="col-lg-5">
    <div class="form-group">
        @Html.LabelFor(m => m.EndDate)
        @Html.EditorFor(m => m.EndDate, new { @class = "form-control" })
    </div>
</div>

<div class="col-lg-5">
    <div class="form-group">
        @Html.LabelFor(m => m.AllowedPosting)
        @Html.CheckBoxFor(m => m.AllowedPosting)
    </div>
</div>

<div class="col-lg-5">
    <div class="form-group">
        <input type="button" value="Save" class="tstyCus-btn btn btn-default" id="btnSave" onclick="javascript: return SaveValue();" />
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('[type=date]').attr('class', 'form-control');

        $('select').multiselect({
            enableFiltering: true
        });

    });
</script>