@model _360Accounting.Web.Models.CodeCombinitionListModel

@{
    if (Model.CodeCombinitions != null)
    {
        if (Model.CodeCombinitions.Count() > 0)
        {
            var grid = new WebGrid(canSort: true, rowsPerPage: 20,
                ajaxUpdateContainerId: "dvCodeCombinitionList",
                ajaxUpdateCallback: "CallBack");

            if (Model.Page == null)
            {
                grid.PageIndex = 0;
            }
            else
            {
                grid.PageIndex = Model.Page.Value - 1;
            }

            grid.Bind(Model.CodeCombinitions, rowCount: Model.TotalRecords,
                autoSortAndPage: false);

            <div class="col-sm-offset-10">
                @{ var startrow = (grid.RowsPerPage * grid.PageIndex) + 1;}
                @{ var endrow = (startrow + grid.Rows.Count - 1);}
                Displaying: <b>@startrow - @endrow</b>
                <br />
                TotalRecords <b>@grid.TotalRowCount</b>
            </div>

            @grid.GetHtml(tableStyle: "table table-bordered table-hover table-striped",
            mode: WebGridPagerModes.All, numericLinksCount: 10,
                 htmlAttributes: new
                 {
                     style = "width:100%",
                     @class = "table",
                     id = "tblCodeCombinitions"
                 },
                 columns: grid.Columns
                 (grid.Column("", header: "Action", style: "ActionLink",
                 format: (item) => Html.Raw("<a class = 'delete' href = '" +
                     @Url.Content("~/CodeCombinition/Delete/") + item.Id +
                     "'><img src ='" +
                          @Url.Content("~/Content/Images/delete.png") + "' alt ='' title ='Delete' style = 'border:0'/></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href='#'><img src='" +
                               @Url.Content("~/Content/images/edit.png") + "' alt='' onclick='EditCodeCombinition("+item.Id+");' title='Edit' style='border:0'/></a>")),
                     grid.Column(columnName: "CodeCombinitionCode",
                     header: "Code Combinition",
                     canSort: true),
                     grid.Column("", header: "Start Date", format: (item)=> item.StartDate != null? item.StartDate.ToString(_360Accounting.Common.Const.DATE_FORMAT): "", canSort: true),
                     grid.Column("EndDate", header: "End Date", canSort: true),
                     grid.Column("AllowedPosting", header: "Allow Posting", canSort: true)
                 )
            )

        }
        else
        {
            <div id='dvNoRecord'>No Record Found!</div>
        }
    }
}

<script type="text/javascript">
    function EditCodeCombinition(id) {
        $.ajax({
            url: '@Url.Content("~/CodeCombinition/Edit")',
            data: { id: id, sobId: $('#SOBId').val() },
            datatype: 'html',
            type: 'post',
            error: function (error) { },
            success: function (data) {
                $('#dvInput').html(data);
                $('#dvInput').dialog("open");
                return false;
            }
        });
    }

    $(document).ready(function () {
        $('.delete').click(function () {
            return confirm("Sure! you wanted to delete ?");
        });
    });

    function CallBack(context) {
        $("#dvCodeCombinitionList")[0].innerHTML = context;
    }
</script>