@model _360Accounting.Web.Models.CodeCombinitionListModel

@{
    ViewBag.Title = "Code Combinition";
}

<div class="container">
    <div id="dvCriteria">
        <div class="clearfix">
            <div class="col-lg-12">
                <h3 class="page-header">
                    @ViewBag.Title
                </h3>
            </div>
        </div>

        <div class="clearfix">
            <div class="col-lg-12">
                <input type="button" class="navbar-right btn btn-default tstyCus-btn" value="Back" title="Account" onclick="window.location = '@Url.Content("~/Account")'" />
                <input type="button" id="btnCreate" value="Create New" class="navbar-left btn btn-default tstyCus-btn" />
            </div>
        </div>

        @Html.HiddenFor(m => m.SOBId)
        
    </div>

    <div id="dvList" class="col-lg-12 cusGridWrapper">
        @Html.Partial("_List", Model)
    </div>
</div>

<div id="dvInput" class="mydialog">

</div>

            @*//create: function (e, ui) { $(this).css("z-index", "-1"); },*@

<script type="text/javascript">
    var zind = function () {
        var z = 1000 - jQuery('.mydialog.ui-dialog-content').length;
        return z;
    };
    $(function () {
        $.noConflict();
        $('#dvInput').dialog({
            modal: true,
            title: "Code Combinition",
            autoOpen: false,
            height: 'auto',
            width: 500,
            zIndex: zind,
        });
        $('#dvDefaultSOB').dialog({
            modal: true,
            title: "Please select your Set of Book",
            autoOpen: false,
            height: 'auto',
            width: 500,
            height: 300,
            zIndex: zind,
        });
    });

    function SaveValue() {
        var segmentValues = '';

        $('#dvInput select').each(function (i, item) {
            segmentValues += i + "|" + item.value + "±";
        })

        var posting = false;
        if ($('#AllowedPosting').prop("checked") == true) {
            posting = true;
        }
        var id = $('#Id').val();
        var sobId = $('#SOBId').val();
        var url = '@Url.Content("~/Codecombinition/UpdateCodeCombinition")';
        $.post(url, { id: id, sobId: sobId, segmentValues: segmentValues, allowPosting: posting, startDate: $('#StartDate').val(), endDate: $('#EndDate').val() }, function (result) {
            $('#dvInput').dialog('close');
            window.location.href = '@Url.Content("~/CodeCombinition/Index")'
        });
    }

    $(document).ready(function () {
        $('#dvInput').css({ overflow: "hidden" });

        $('#btnCreate').click(function () {
            $.ajax({
                url: '@Url.Content("~/CodeCombinition/Create")',
                data: { },
                datatype: 'html',
                type: 'post',
                error: function (error) { },
                success: function (data) {
                    $('#dvInput').html(data);
                    $('#dvInput').dialog("open");
                    return false;
                }
            });
        });
    });
</script>
