@Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView })
@Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })

@model _360Accounting.Web.Models.TaxModel

@{
    ViewBag.Title = "Tax";
}
<br />
<br />
<br />
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.SOBId)
        
        <div class="row">
            <div class="col-lg-12">
                <div class="navbar-right">
                    <input type="button" value="Save" id="btnSave" class="btn btn-default tstyCus-btn" />
                    <input type="button" value="Cancel" id="btnCancel" class="btn btn-default tstyCus-btn" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">

                    @Html.LabelFor(model => model.TaxName)
                    @Html.TextBoxFor(model => model.TaxName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate)
                    @Html.EditorFor(model => model.StartDate)
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.EndDate)
                    @Html.EditorFor(model => model.EndDate)
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("_TaxDetailPartial", Model.TaxDetails)
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //jQuery.ajaxSetup({ async: false });
        $('[type=date]').attr('class', 'form-control ');
        $('#StartDate, #EndDate').attr('class', 'form-control');

        $('#btnCancel').click(function () {
            if (confirm('Do you want to leave this page?')) {
                window.location.href = '@Url.Content("~/Tax")';
            }
        });

        $('#btnSave').click(function () {
            var taxName = $('#TaxName').val();
            var startDate = $('#StartDate').val();
            var endDate = $('#EndDate').val();

            var url = '@Url.Content("~/Tax/SaveTax")';
            $.post(url, { taxName: taxName, startDate: startDate, endDate: endDate },
                function (result) {
                    if (result.success)
                    {
                        alert(result.message);
                        window.location.href = '@Url.Content("~/Tax")';
                    }
                    else
                        alert(result.message);
                });
        });

        $('#StartDate, #EndDate').change(function ()
        {
            debugger;
            var startDate = $('#StartDate').val();
            var endDate = $('#EndDate').val();
            var url = '@Url.Content("~/Tax/ValidateDate")';

            if (startDate > endDate)
            {
                $('#EndDate').val(startDate);
            }
            else
            {
                $.post(url,
                {
                    startDate: startDate, endDate: endDate
                })
            }

            @*@SessionHelper.Tax.StartDate.Date = Date(startDate);
            @SessionHelper.Tax.EndDate.Date  = Date(endDate);*@
        });
    });
</script>