<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="headerTop">
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand"><img class="img-responsive" src='@Url.Content("~/Content/images/logo.png")' alt="" /></span>
                </div>
                <div class="navbar-collapse collapse">
                    <div class="customClientLogo">@AuthenticationHelper.CompanyName <a id="activeBook" href="#">(@SessionHelper.SOBName)</a></div>
                    @Html.Partial("_LoginPartial")
                    @Html.Partial("_Menu")
                </div>
            </nav>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <div id="page-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    <div id="dvAccountLookup">

    </div>
    <div id="dvDefaultSOB">

    </div>
    <script type="text/javascript">
        //Default SOB
        var zind = function () {
            var z = 1000 - jQuery('.mydialog.ui-dialog-content').length;
            return z;
        };

        $('#activeBook').click(function () {
            $(function () {
                $('#dvDefaultSOB').dialog({
                    modal: true,
                    title: "Please select your Set of Book",
                    autoOpen: false,
                    height: 'auto',
                    width: 500,
                    height: 300,
                    zIndex: zind,
                });
            });

            GetSOBs();
        });

        function GetSOBs()
        {
            $.ajax({
                url: '@Url.Content("~/UserSetofBook")',
                data: {},
                datatype: 'html',
                type: 'get',
                error: function (error) {
                    alert('Error');
                },
                success: function (data) {
                    $('#dvDefaultSOB').html(data);

                    //handling noConflict issue manually..
                    if (typeof $('#dvDefaultSOB').dialog == 'undefined')
                    {
                        $.noConflict();
                        $('#dvDefaultSOB').dialog({
                            modal: true,
                            title: "Please select your Set of Book",
                            autoOpen: false,
                            height: 'auto',
                            width: 500,
                            height: 300,
                            zIndex: zind,
                        });

                        $('select').multiselect({
                            enableFiltering: true
                        });
                    }
                    $('#dvDefaultSOB').dialog("open");
                    return false;
                }
            });
        }

        //Default SOB

        var lookupTextField = '';
        var lookupValueField = '';
        var lookupModelField = '';

        function SetMultiselect(combo, data) {
            jQuery.noConflict();
            var values = [];
            for (var i = 0; i < data.length; i++) {
                if (typeof data[i].Text != 'undefined' && typeof data[i].Value != 'undefined')
                    values.push({ label: data[i].Text, value: data[i].Value });
            }
            $('#' + combo).multiselect('dataprovider', values);
        }

        $(document).ready(function () {
            
            $('select').multiselect({
                enableFiltering: true
            });

            $(function () {
                $('#dvAccountLookup').dialog({
                    modal: true,
                    title: "Account Lookup",
                    autoOpen: false,
                    height: 450,
                    width: 500,
                });
            });


            $('.AccountLookup').click(function () {
                debugger;
                lookupValueField = (this.id).replace('String', '');
                lookupModelField = (this.id).replace('String', 'Id');
                lookupTextField = this.id;
                $.ajax({
                    url: '@Url.Content("~/CodeCombinition/LookupAccountCode")',
                    data: { },
                    datatype: 'html',
                    type: 'post',
                    error: function (error) { },
                    success: function (data) {
                        $('#dvAccountLookup').html(data);
                        $('#dvAccountLookup').dialog("open");
                        $(this).next('input').focus();
                        return false;
                    }
                });
            });
        });
    </script>
</body>
</html>
