@Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })

@model _360Accounting.Web.Models.JournalVoucherListModel

@{
    ViewBag.Title = "Journal Voucher";
}

<div class="container">
    <div class="clearfix">
        <div class="col-lg-12">
            <h3 class="page-header">
                @ViewBag.Title
            </h3>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group customDropDownWrapper">
            @Html.LabelFor(m => m.Periods)
            @Html.DropDownListFor(m => m.PeriodId, Model.Periods, new { @class = "form-control criteria" })
        </div>
    </div>

    <div class="col-lg-4">
        <div class="form-group customDropDownWrapper">
            @Html.LabelFor(m => m.Currencies)
            @Html.DropDownListFor(m => m.CurrencyId, Model.Currencies, new { @class = "form-control criteria" })
        </div>
    </div>

    <div class="col-lg-12">
        <div class="form-group">
            <input type="button" id="btnCreate" value="Create New" class="btn btn-default tstyCus-btn" />
        </div>
    </div>
    
    <div id="dvList" class="col-lg-12 cusGridWrapper">
        @Html.Action("ListPartial", new { periodId = Model.PeriodId, currencyId = Model.CurrencyId })
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $.noConflict();
        $('#dvDefaultSOB').dialog({
            modal: true,
            title: "Please select your Set of Book",
            autoOpen: false,
            height: 'auto',
            width: 500,
            height: 300,
            zIndex: zind,
        });
    });

    $(document).ready(function () {
        $('#btnCreate').click(function () {
            var continueCreate = true;

            var inValidInputs = $('#PeriodId, #CurrencyId').filter(function () { return $(this).val() == null; });
            inValidInputs.each(function (index, item) {
                $('#' + item.id).css('border', '1px solid #ff6600');
                continueCreate = false;
            })

            if (continueCreate) {
                var url = '@Url.Content("~/JV/Create?periodId=")' + $('#PeriodId').val() +
                    "&currencyId=" + $('#CurrencyId').val();
                window.location.href = url;
            }
            else
                alert('Please select the values.');
        });

        jQuery.noConflict();
        jQuery.ajaxSetup({ async: false });

        function RefreshGrid() {
            if ($('#PeriodId').val() == null || $('#CurrencyId').val() == null)
                $('#dvList').html(GetEmptyList('@Url.Content("~/JV/EmptyListPartial")'));
            else
                $('#dvList').html(GetData('@Url.Content("~/JV/ListPartial")', { periodId: $('#PeriodId').val(), currencyId: $('#CurrencyId').val() }));
        }

        $('#PeriodId, #CurrencyId').change(function () {
            RefreshGrid();
        });
    });

    function GetEmptyList(url) {
        var returnedData = [];
        $('#dvList').html("Please wait..");
        $.ajax({
            url: url,
            data: {},
            datatype: 'json',
            type: 'get',
            async: false,
            error: function (data) {
                alert(data);
            },
            success: function (rtnData) {
                returnedData = rtnData;
            }
        });

        return returnedData;
    }

    function GetData(url, data) {
        var returnedData = [];
        $('#dvList').html("Please wait..");
        $.ajax({
            url: url,
            data: data,
            datatype: 'json',
            type: 'get',
            async: false,
            error: function (data) { alert(data); },
            success: function (rtnData) {
                returnedData = rtnData;
            }
        });

        return returnedData;
    }
</script>