@model _360Accounting.Web.Models.UserSetofBookModel

@{
    ViewBag.Title = "Default Set of Book";
}


@Html.ValidationSummary()
@Html.HiddenFor(m => m.CompanyId)
@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.UserId)

<div class="col-lg-12">
    @Html.LabelFor(m => m.SOBId)
    <div class="form-group customDropDownWrapper">
        @Html.DropDownListFor(m => m.SOBId, Model.SetofBooks)
    </div>
</div>

<div class="col-lg-2" style="min-height:50px;">
    <div class="form-group">
        <input type="button" value="Save" class="tstyCus-btn btn btn-default" onclick="SaveDefaultSOB();" />
    </div>
</div>
<div class="col-lg-offset-1 col-lg-9 right">
    <b><a href='@Url.Content("~/SetofBook/Create")'>Click here</a></b> to create a new Set of Book.
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('select').multiselect({
            enableFiltering: true
        });
    });

    function SaveDefaultSOB() {
        var model = {
            Id: $('#Id').val(),
            SOBId: $('#SOBId').val()
        }

        $.ajax({
            url: '@Url.Content("~/UserSetofBook/Save")',
            data: model,
            datatype: 'json',
            type: 'post',
            error: function (data) { },
            success: function (data) {
                $('#dvDefaultSOB').dialog('close');
                var redirectionAllowed = '@TempData["LastURL"]';
                if (redirectionAllowed != null)
                    window.location.href = '@Url.Content(TempData["LastURL"].ToString())';
            }
        });
    }

</script>