@Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })
@model _360Accounting.Web.Models.PayableInvoiceListModel

@{
    ViewBag.Title = "Payable Invoice";
}
<div class="container">
    <div class="clearfix">
        <div class="col-lg-12">
            <h3 class="page-header">
                @ViewBag.Title
            </h3>
        </div>
    </div>

    <div class="clearfix">
        <div class="col-lg-3">
            <div class="form-group customDropDownWrapper">
                @Html.LabelFor(m => m.SetOfBooks)
                @Html.DropDownListFor(m => m.SOBId, Model.SetOfBooks, new { @class = "form-control criteria" })
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group customDropDownWrapper">
                @Html.LabelFor(m => m.Periods)
                @Html.DropDownListFor(m => m.PeriodId, Model.Periods, new { @class = "form-control criteria" })
            </div>
        </div>
    </div>

    <div class="clearfix">
        <div class="col-lg-12">
            <div class="form-group">
                <input type="button" id="btnCreate" value="Create New" class="btn btn-default tstyCus-btn" />
            </div>
        </div>
    </div>

    <div id="dvList" class="col-lg-12 cusGridWrapper">
        @Html.Action("ListPartial", new { sobId = Model.SOBId, periodId = Model.PeriodId })
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();

        $('#btnCreate').click(function () {
            var continueCreate = true;

            var inValidInputs = $('#SOBId, #PeriodId').filter(function () { return $(this).val() == null; });
            inValidInputs.each(function (index, item) {
                $('#' + item.id).css('border', '1px solid #ff6600');
                continueCreate = false;
            })

            if (continueCreate) {
                var url = '@Url.Content("~/PayableInvoice/Create?sobId=")' +                                                                   //Make AR
                    $('#SOBId').val() +
                    "&periodId=" + $('#PeriodId').val()
                window.location.href = url;
            }
            else
                alert('Please select the values.');
        })

        jQuery.ajaxSetup({ async: false });

        function RefreshGrid() {
            var url = '@Url.Content("~/PayableInvoice/ListPartial")';

            $.get(url, { sobId: $('#SOBId').val(), periodId: $('#PeriodId').val() },
                function (data) {
                    $('#dvList').html(data)
                });
        }

        $('#PeriodId').change(function () {
            RefreshGrid()
        })

        $('#SOBId').change(function () {
            var url = '@Url.Content("~/PayableInvoice/PeriodList")';                                                                          //Make AR
            debugger;
            $.get(url, { sobId: $(this).val() },
                function (data) {
                    var periodDropdown = $('#PeriodId');
                    periodDropdown.empty();
                    for (var i = 0; i < data.length; i++) {
                        periodDropdown.append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                    }
                })

            RefreshGrid();
        })
    })
</script>